<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:if="${message}">
   <h2 th:text="${message}"/>
</div>
<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file"/></td></tr>
            <tr><td></td><td><input type="submit" value="Upload"/></td></tr>
        </table>
    </form>
</div>
<div>
    <ul>
        <li th:each="file:${files}">
            <a th:href="${file}" th:text="${file}"></a>
        </li>
    </ul>
</div>
</body>
</html>